body {
    font-family: Arial;
    background: #f4f6f8;
    padding: 40px;
}

.box {
    background: white;
    padding: 25px;
    border-radius: 10px;
    max-width: 420px;
    margin: auto;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
}

input, button, select {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

.row {
    display: flex;
    gap: 10px;
}

.row input {
    flex: 2;
}

.row select {
    flex: 1;
}

.result {
    margin-top: 15px;
    font-weight: bold;
    text-align: center;
}

button {
    cursor: pointer;
    background: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background: #45a049;
}